n8n-workflow.json
{
  "name": "Alcovia Focus Success Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "focus-success",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "alcovia-focus-success"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3001/notification-log/claim",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"eventId\": \"{{ $('Webhook Trigger').item.json.body.eventId }}\",\n  \"streak\": {{ $('Webhook Trigger').item.json.body.streak }},\n  \"coins\": {{ $('Webhook Trigger').item.json.body.coins }}\n}",
        "options": {}
      },
      "id": "claim-notification",
      "name": "Claim Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "claimed-check",
              "leftValue": "={{ $json.claimed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-claimed",
      "name": "Claimed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3001/mock-notification",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"eventId\": \"{{ $('Webhook Trigger').item.json.body.eventId }}\",\n  \"sessionId\": \"{{ $('Webhook Trigger').item.json.body.sessionId }}\",\n  \"streak\": {{ $('Webhook Trigger').item.json.body.streak }},\n  \"coins\": {{ $('Webhook Trigger').item.json.body.coins }}\n}",
        "options": {}
      },
      "id": "send-notification",
      "name": "Send Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3001/notification-log",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"eventId\": \"{{ $('Webhook Trigger').item.json.body.eventId }}\",\n  \"streak\": {{ $('Webhook Trigger').item.json.body.streak }},\n  \"coins\": {{ $('Webhook Trigger').item.json.body.coins }}\n}",
        "options": {}
      },
      "id": "mark-sent",
      "name": "Mark Notification Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"skipped\", \"reason\": \"already claimed\", \"eventId\": \"{{ $('Webhook Trigger').item.json.body.eventId }}\" }"
      },
      "id": "respond-skipped",
      "name": "Respond: Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"sent\", \"eventId\": \"{{ $('Webhook Trigger').item.json.body.eventId }}\" }"
      },
      "id": "respond-sent",
      "name": "Respond: Sent",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1500, 200]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Claim Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Notification": {
      "main": [
        [
          {
            "node": "Claimed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claimed?": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification": {
      "main": [
        [
          {
            "node": "Mark Notification Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Notification Sent": {
      "main": [
        [
          {
            "node": "Respond: Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "description": "Alcovia Focus Success notification workflow. Claims the event atomically before sending, then marks the claim as sent.",
    "instanceId": "alcovia-n8n-instance"
  }
}
